<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="ISO-8859-1">
	<title>Quản lý tài khoản</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script th:src="@{/js/jquery-1.js}"></script>


	<link rel="stylesheet" th:href="@{/css/admin.css}" />

	<link rel="stylesheet" th:href="@{/css/ace.min.css}" class="ace-main-stylesheet" id="main-ace-style" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
	<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link th:href="@{/css/adminheader.css}" rel="stylesheet" />

</head>

<body>
	<header>
		<div th:replace="admin/include/header::header"> </div>
	</header>

	<div class="col-md-1"></div>
	<div class="col-md-10 animated bounce">
		<h3 class="page-header">Quản lý Index</h3>

		<button class="btn btn-success btnThemTaiKhoan">Thêm mới Index </button>
		<hr>

		<table class="table table-hover taiKhoanTable" style="text-align: center;">
			<thead>
				<tr>
					<th>Tên Index</th>
					<th>Thao tác</th>
				</tr>

			</thead>
			<tbody>
			</tbody>

		</table>
	</div>
	<div class="row col-md-6">
		<form class="taiKhoanForm" id="form">
			<div>
				<div class="modal fade" id="taiKhoanModal" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Tạo mới tài
									khoản</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<!-- 								<div class="form-group">
									<input type="hidden" class="form-control" name="id" />
								</div> -->
								<div class="form-group">
									<label for="name">Index Name</label> <input type="indexname" id="indexname" class="form-control"
										name="indexname" required />
								</div>
								<div class="form-group">
									<label for="name">File json:</label>
									<input type="file" class="form-control" id="fileJson" name="fileJson" required>
									<a id="linkExcel" class="hidden" href="">Link file câu hỏi cũ </a>

								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
									<input class="btn btn-primary" id="btnSubmit" type="button" value="Xác nhận" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	</div>
	<!-- footer section -->
	<!--<section class="">
		<div th:replace="client/include/footer::footer"> </div>
	</section>-->
	<!-- footer section -->


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.js"></script>
	<script th:src="@{/js/admin/indexmanagement.js}"></script>
</body>

</html>